*{
    /* to get ride of all the default settings  */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin:10px auto;
    background-color: azure;
}

ul {
    list-style: none;
}

header h1 , h2{
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    text-transform: uppercase;
}

img{
    width: 250px;
    height: 250px;
    
}

p{
    text-align: center;
}
h3{
    text-align: center;
    padding: 5px;
}


.flexbox-list{
    display:flex;
    flex-wrap: wrap; /* wrap property gives responsive design for the flexbox with no need for media queiries */
    justify-content: center;
    margin-right: 30px;
    
    
}

.flexbox-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding:20px;
    
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4 , 2fr);
    grid-template-rows: minmax( 300px , auto); /*the default will be 300px but it will strech to fit the content if itb was bigger then 300px*/
    gap: 10px;
   
}

.grid-item{
     place-content: center;
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
   }


@media screen and (min-width:600px) and (max-width:1024px){
    .flexbox-item{
        max-width: 40%;
        justify-content: center;
        
    }

    .grid-list{
        grid-template-columns: repeat(3 , 1fr);
        gap:2px;
    }

    .grid-item:nth-child(1){
        grid-column: span 2;
        justify-items: center;
    }
    .grid-item img{
        /* I still have problem with align the image inside the grid  */
        align-self: center; 
    }
}



@media screen and (max-width:600px){
    .flexbox-item{
        width:80%;

    }

    .grid-list{
        grid-template-columns: 2fr;
    }
    
    .grid-item {
        grid-column: span 3;
        justify-items: center ;
        padding: 10px;
    }
}

@media screen and (min-width:1024px){
    
    .flexbox-item{
        width: 40%;
    }

    
    
}