* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*allows to include the padding and the borders to the total height or width of the element*/
    line-height: 1.6em; /*To set the space between the text lines*/
}

body{
    background-color: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px; 
}

.logo{
    color: aliceblue;
    font-size: 25px;
    margin: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    
}
.navbar li a:hover{
    color: black;
    background-color: yellow;
    border-radius: 30%;
}

hr{
    border: 4px solid yellow;
    margin:10px 0;
}

.main-head{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10em ;
    color: aliceblue;
    text-align: center;
    height: 40vh;
}

 .main-text{
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     font-size: 20px;
     margin-left: 20px;
     
 }

 .img-head{
    display: flex;
    justify-content: left;
    margin-top:10px ;
 }

.img-head img{
     height: 16em;
     width: 16em;
     border-radius: 70%;
     margin: 20px;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.img-about{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.img-about img{
    height: 30em;
    width: 30em;    
}
.about-text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    color: aliceblue;
   margin: 20px;
   border: ;
}


.about-text h1{
     font-size: 25px;
     font-weight: bold;
}
.about-text p{
    line-height: 2em;
    padding: 20px;
    font-size: 20px;

}

.about-text p:hover{
    background-color: yellow;
    color: black;
    border-radius: 20% 0;
}

.rest-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 9em;
    color: aliceblue;
}

.rest-cv ul li {
    line-height: 10px;
    padding: 10px;
}

.skills{
    padding: 20px;
    border: 2px solid rgb(255, 255, 35);
    border-radius: 20%  0  20% 0;
    box-shadow: 9;
    
}

.skills:hover{
    color: black;
    background-color: yellow;
    border-color: black;
}

.education{
    padding: 20px;
    margin-bottom: 1.6em;
    border: 2px solid rgb(255, 255, 35);
    border-radius: 20%  0  20% 0;

}

.education:hover{
    color: black;
    background-color: yellow;
    border-color: black;
}

.work{
    padding: 20px;
    margin-right: 10px;
    border: 2px solid rgb(255, 255, 35);
    border-radius: 20%  0  20% 0;
    
}

.work:hover{
    color: black;
    background-color: yellow;
    border-color: black;
}

.footerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 22px;
}

.footer-content{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     color: aliceblue;
     font-size: 20px;
     padding: 25px;
}
..footer-content p{
     padding: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    padding: 6px;
}

.social-media a{
    padding: 20px;
    color: aliceblue;
}

.social-media a:hover {
    color: black;
    background-color: yellow;
    transition: 0.3s;
    border-radius: 50%;
}

@media (max-width:800px){
    .container{
        flex-direction: column;
    }

    .navbar{
        display: flex;
        align-items: center;
        margin-right: 9px;
    }
    
   .navbar li a {
        color: aliceblue;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        
    }

    .main-head{
        flex-direction: column;
    }
    
    .main-text{
        flex-direction: column;
        width:12em;
    }

    #about{
        flex-direction: column;
    }

    .rest-cv{
        flex-direction: column;
        margin:20px;
    }
    .rest-cv ul li {
        line-height: 20px;
        padding: 13px;
    }
    .education{
        margin-top: 20px;
    }
}